    $primary-text-color: #292d32;
    $secondary-text-color: #b5b7c0;
    $sidebar-text-color: #9197b3;
    $primary-bg-color: #F9FBFF;
    $title-color: #000000;
    $project-color: #757575;
    $hover-color: #5932ea;
    $search-color: #7e7e7e;
    $members-color: #16c098;
    $secondary-bg-color: #ffffff;
    $box-shadow: rgba(226, 236, 249, 0.5);
    $line-solid: #eeeeee;
    $active-btn: #008767;
    $active-btn-bg: rgba(22, 192, 152, 0.38);
    $border-active-btn: #00b087;
    $inActive-btn: #df0404;
    $inActive-btn-bg: #ffc5c5;
    $border-inActive-btn: #df0404;
    $pagination: #f5f5f5;
    $pagination-color: #404b52;