    $primary-text-color: #292d32;
    $secondary-text-color: #b5b7c0;
    $sidebar-text-color: #9197b3;
    $primary-bg-color: #FAFBFF;
    $title-color: #000000;
    $hover-color: #5932ea;
    $search-color: #7e7e7e;
    $members-color: #16c098;
    $secondary-bg-color: #ffffff;
    $box-shadow: rgba(226, 236, 249, 0.5);
    // $box-link-color: #AFB1B8;