.customersMain {    
    margin-top: 20px;
    background-color: $secondary-bg-color;
    border-radius: 30px;
    padding-bottom: 40px;
    @media screen and (min-width: 1440px) {
        margin-top: 51px;
    }
}
.headerCustomers {
    padding: 20px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    @media screen and (min-width: 1440px) {
        padding: 30px 40px 40px 40px;
    }
}
.form {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
.search {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    & svg {
        width: 24px;
        height: 24px;
        fill: $search-color;
    }
}
.input {
    display: inline-block;
    padding: 10px 10px 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: $primary-bg-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $search-color;
}
.allCustomers {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.titleCustomers {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: $title-color;
}
.textCustomers {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $members-color;
    margin-top: 10px;
}
.listCustomers {
    display: none;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding: 0 28px;
    }
    @media screen and (min-width: 1440px) {
        padding: 0 40px;
    }
}
.itemCustomers {
    color: $secondary-text-color;
    
}
.lineCustomers {
    border-bottom: 1px solid $line-solid;
    @media screen and (min-width: 768px) {
        margin-top: 14px;
    }
}

.userCustomersList {
    padding: 0 28px;
    @media screen and (min-width: 1440px) {
        padding: 0 40px;
    }
}
.userCustomersItem {
    padding: 26px 0;
    border-bottom: 1px solid $line-solid;
    &:last-child {
        border-bottom: none;
    }
}
.userList {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}
.activeBtn {
    padding: 5px 18px;
    color: $active-btn;
    background-color: $active-btn-bg;
    border: 1px solid $border-active-btn;
    border-radius: 4px;
}
.inActiveBtn {
    padding: 5px 12px;
    color: $inActive-btn;
    background-color: $inActive-btn-bg;
    border: 1px solid $border-inActive-btn;
    border-radius: 4px;
}