  .pagination-cover {
    margin-top: 30px;
  }
  
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-decoration: none;
  }
  
  .pagination-item:not(:last-child) {
    margin-right: 10px
  }
  
  .pagination-item a {
    padding-top: 1px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    width: 38px;
    text-align: center;
    border: 2px solid $pagination;
    color: $pagination-color;
    display: block;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .pagination-item a i {
    vertical-align: 1px;
    font-weight: 900;
    color: $pagination-color;
  }
  
  .pagination-item.active a {
    border-color: $hover-color;
    background-color: $hover-color;
    color: $pagination;
  }
  
  .pagination-item.active {
    pointer-events: none;
  }
  
  .pagination-item:hover a {
    border-color: $hover-color;
  }
  
  .pagination-item.disable {
    opacity: .65;
    pointer-events: none;
  }
  
  .pagination {
    list-style-type: none;
    justify-content: center;
  }
  
  .hide-filter {
    display: none;
  }