.userNav
    nav.nav 
        ul.list 
            li.item
                a(href="#").item_link.active
                    +svg('icon-key')
                    p Dashboard 
            li.item
                a(href="#").item_link
                    +svg('icon-d')
                    p Dashboard 
                    +svg('icon-chevron')
            li.item
                a(href="#").item_link
                    +svg('icon-user')
                    p Dashboard 
                    +svg('icon-chevron')
            li.item
                a(href="#").item_link
                    +svg('icon-wallet')
                    p Dashboard 
                    +svg('icon-chevron')
            li.item
                a(href="#").item_link
                    +svg('icon-discount')
                    p Dashboard 
                    +svg('icon-chevron')
            li.item
                a(href="#").item_link
                    +svg('icon-message')
                    p Dashboard 
                    +svg('icon-chevron')
    .user 
        img(src="src/img/evano.png", alt="Evano").user_img
        .user_box 
            h4.user_name Evano
            span.user_profession Project Manager